:root {
    --col-bg: #FFF3D6;
 }
 
 body {
    background-color: var(--col-bg);
    color: var(--col-on-bg);
    font-family: var(--font-a);
    line-height: var(--spacing);
    margin: auto;
 }


header{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    text-align: center;
}

header button {
    display: inline;
    text-align: inherit;
    padding: 0em;
    margin: 0em;
    background-color: transparent;
    border-style: hidden;
}
button a{
    font-size: 2em;
    color: #FFF3D6;
    padding: 0em;
    margin: 0.5em;
}
button ul li{
    display: inline-block;
    padding: 0em;
    margin: 0.5em;
    list-style: none;
    color: #FFF3D6;
}

button ul li a{
    font-size: 2em;
    color: #FFF3D6;

}
button a:hover{
    background-color: tomato;
    color: #000000;
    border-width: 0em;
}

h1,h2{
    text-align: center;
    font-size-adjust: 0.58;
    white-space: nowrap;
}

h3{
    text-align: left;
}

/* 
@media screen and (max-width:10em){
    .topright{
        flex-wrap:wrap;
        color: black;}
}
    

@media screen and (min-width:40em) main{
    width: 100%;
    
}
 */
