:root {
    --col-bg: #FFF3D6;
    --col-on-bg: #333333;
    --col-accent-a: #935252;
    --col-on-accent-a: #A775B2;
    --container-w1: 50em; 
    --animation-speed-sec : 1;
    --font-logo :'Indie Flower', cursive;
    --font-a: 'Roboto',arial, helvetica, sans-serif;
    --spacing: 0.5em;
 }
 
 body {
    background-color: var(--col-bg);
    color: var(--col-on-bg);
    font-family: var(--font-a);
    line-height: var(--spacing);
    margin: auto;
 }


header{
    display: block;
    width: auto;
    height: auto;
    margin: 0em;
}

header button ul li{
    display: inline-block;
    color: whitesmoke;
    margin: 1em;
}
.image-size{
    background-image: url('lily-banse-unsplash.jpg');
    background-size: cover;
    width: 100%;
    min-height:10em;
    padding: 0em 0em 0em 0em;
    margin: 0em;
    text-align: center;
}

button a{
    color: whitesmoke;
    font-size: 2em;
}

button a:hover{
    background-color: tomato;
    color: #000000;
    border-radius: 0.1em;
}

h1,h2{
    text-align: center;
    font-size-adjust: 0.58;
    white-space: nowrap;
}

