.parent{
    position: relative;
    top: 0;
    left: 0;
    text-align: center;

}

.image1{
    display:inline-block;
    position: relative;
    top: 0;
    left: 0;
    text-align: justify;
    padding: 0em;
    margin: 0em;

}

.image2{
    position: absolute;
    display: flex;
    border: 0.1em green solid;
    border-radius: 20em;
    top: 20%;
    left: 60%;
    text-align: center;
}

.topright {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 18px;
    display: inline-block;
  }

.search-box{
    position: absolute;
    left: 40%;
    top: 50%;
    width: 100%;
    text-align: center;
    font: 90px;
}

main div form input{

    min-width: 15em;
    min-height: 5em;
    border-spacing: 0em;
    margin: 0em;
    padding: 0em;
    text-align: center;
}

@media screen and (min-width: 100em) {
    .related-box {
        flex-basis: 25%;
    }
}


@media screen and (min-width: 60em) {
    .related-box {
        flex-basis: 20%;
    }
}