.parent{
    position: -webkit-sticky;
    top: 0;
    left: 0;
    text-align: center;

}


.logo{
    border: 0.1em green;
    border-radius: 20em;
    top: 20%;
    left: 60%;
    bottom: 10%;
    text-align: center;
    padding: 0 1em 1em 0;
}

.topleft { 
    position: relative; 
    font-size: 20px;
    display: flex;
    margin: 0.5em;
    font-size: 1em;
    white-space: nowrap;
  }



.search-box{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    
}

main div form input{

    min-width: 15em;
    min-height: 5em;
    border-spacing: 0em;
    margin: 0em;
    padding: 0em;
    text-align: center;
}


.content-center {
    margin: auto;
    padding: 0 3em 0 3em;
    
}


.footer-nav ul li{
    display: inline;
    

}
.footer-nav ul{
    text-align: right;
}
.footer-bg{
    background-color: lightblue;
    margin: 0em;
}