.parent{
    position: relative;
    top: 0;
    left: 0;
    text-align: center;

}

.image1{
    position: relative;
    top: 0;
    left: 0;
    border: 0.1em red solid;
    text-align: center;

}

.image2{
    position: absolute;
    border: 0.1em green solid;
    border-radius: 5em;
    top: 13em;
    left: 40%;
    right: 50%;
    text-align: center;
}