
.nav-main{
    
    border-radius: 5px;
    padding: 1em;
    
}
.nav-main ul li{
    display: inline-block;
}

.nav-main a{
    text-decoration: none;
    color: black;
    background-color: cornsilk;
    padding: 1em;
    display: inline-block;
    border-radius: 4px;
}

.nav-main a:hover{
    background-color: tomato;
    color: white;
}
.nav-main ul {
    text-align: right;
}

.nav-main form label{
    text-decoration: none;
    color: black;
    background-color: cornsilk;
    padding: 0em;
    display: inline-block;
    border-radius: 3px;
}

main div form{
    border-spacing: 1em;
}

.search-img{
    max-width: 10px ;
    max-height: 5px;
}
.container{
    display: grid;
    max-width: 20em;
    max-height: 20em;
}
.one{
    display: grid;
    grid-template-columns: 30% 60%;
    max-width: 3px;
    max-height: 5px;
    left: 1em;
    margin: 0em;
}



